<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Task Manager</title>
</head>
<body>
    <div id="app">
        <h1>TaskManager</h1>
        <ul class="tasks">
            <li v-for="task in tasks" v-bind:class="{ complete: task.state == 0 }">
                <a v-on:click="changeState(task.id)" class="title">{{ task.name }}</a>
                <a v-on:click="remove(task.id)" class="close">&times;</a>
            </li>
        </ul>
        <input type="text" class="add" placeholder="Новая задача" v-on:keyup.enter="create">
        <ul class="pagination">
            <li v-for="page in pages">
                <a v-bind:class="{ current: page == current }" v-on:click="getPages(page)">{{ page }}</a>
            </li>
        </ul>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="script.js"></script>
</body>
</html>