html, body{
    font-family: Tahoma;
    height: 100%;
    margin: 0;
}
body{
    align-items: center;
    background: #0067A3;
    display: flex;
    justify-content: center;
}
#app{
    background: #F8F9F9;
    border-radius: 10px;
    padding: 20px;
    min-width: 400px;
}
#app h1{
    border-bottom: 1px solid #CCC;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
}
#app ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#app a{
    color: #333;
    text-decoration: none;
}
#app .tasks{
    width: 100%;
}
#app .tasks li{
    align-items: flex-start;
    background: #4D96C1;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
}
#app .tasks li:first-child{
    margin-top: 0;
}
#app .tasks li a{
    color: #FFF;
}
#app .tasks li .title {
    color: #EFEFEF;
    flex-grow: 1;
    flex-shrink: 1;
}
#app .tasks li:hover .title{
    color: #FFF;
}
#app .tasks li .close {
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    visibility: hidden;
}
#app .tasks li:hover .close{
    visibility: visible;
}
#app .tasks li.complete{
    background: none;
}
#app .tasks li.complete .title{
    color: #333;
    text-decoration:line-through;
}
#app .tasks li.complete .close{
    color: #333;
}
#app .pagination{
    border-top: 1px solid #CCC;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
}
#app .pagination li{
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}
#app .pagination li a.current,
#app .pagination li a:hover{
    color: #4D96C1;
    cursor: pointer;
}
#app .add{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #CCC;
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}
@media(max-width: 400px){
    #app{
        min-width: 100%;
        width: 100%;
    }
}